@tailwind base;
@tailwind components;
@tailwind utilities;
  
.custom-main-height{
    /*вся высота минус шапка(h-24) из tailwind'а*/
    height: calc(100% - 6rem);
    min-height: calc(100vh - 6rem);
}
 /* position: relative; */
.clearLeft{
    clear: right;
}